INFORMEbuild/
INFORME/Informe.aux
INFORME/Informe.fdb_latexmk
INFORME/Informe.fls
INFORME/Informe.log
INFORME/Informe.out
INFORME/Informe.pdf
INFORME/Informe.synctex.gz
INFORME/resul.aux
INFORME/teoria.aux